<%- include('header') %>
        <!-- Page header with logo and tagline-->
        <header class="py-2 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to Blog Home!</h1>
                    <p class="lead mb-0"></p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-9">
                    <% userBlogs.forEach(function(blog) { %>
                        <!-- Featured blog post -->
                        <div class="card mb-5">
                            <div class="row">
                              <div class="col-md-8">
                                <div class="card-body p-4">
                                  <h4 class="mb-3">
                                    <%= blog.blogTitle %>
                                  </h4>
                                  <p class="small"><i class="far fa-star fa-lg"></i> <span class="mx-2">|</span>
                                    Created by <strong>
                                      <%= blog.writerName || "Unknown" %>
                                    </strong> on
                                    <%= blog.blogDate%>
                                  </p>
                                  <hr class="my-1">
                                  <div class="d-flex justify-content-start align-items-center">
                                    <p>
                                      <%= blog.blogDescription.substring(0, 100) %>...
                                    </p> <!-- Show first 100 chars -->
                                  </div>
                                  
                                  <div class="d-flex justify-content-start align-items-center ">
                                    <!-- <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
                                            class="text-muted small">8 min
                                            read</span></p> -->
                                    <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span
                                            class="text-muted small">1 day ago</span></p>
                                    <p class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i>
                                        <span class="text-muted small"><a href="/blogs/<%= blog.blogSlug %>">Read More</a></span>
                                        <span class="ms-3 me-4">|</span>
                                    </p>
                                    <a href="/blogs/<%= blog.blogSlug %>">
                                        <img src="<%= blog.profileImage || 'images/default-blog.png' %>"
                                            alt="avatar" class="img-fluid rounded-circle me-3" width="50" style="width: 40px;height: 40px;">
                                    </a>
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                                        class="btn btn-outline-dark btn-sm btn-floating">
                                        <i class="fas fa-plus text-body"></i>
                                    </button>
                                </div>
                    
                                </div>
                              </div>
                              
                              <div class="col-md-4 pe-5">
                                <div class="py-5">
                                  <a href="/blog/<%= blog.slug %>">
                                    <img src="<%= blog.blogImage || 'images/default-blog.png' %>" alt="blog image" class="img-fluid">
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                    <% }) %>
                    
                </div>
                <!-- Side widgets-->
                <div class="col-lg-3">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Web Design</a></li>
                                        <li><a href="#!">HTML</a></li>
                                        <li><a href="#!">Freebies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">JavaScript</a></li>
                                        <li><a href="#!">CSS</a></li>
                                        <li><a href="#!">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('footer') %>